<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout_sec}">
<head>
    <meta charset="UTF-8">
    <title>Listado de usuarios</title>
</head>
<body>
<div layout:fragment="cabecera">
    <h1>Estas en la lista de clientes</h1>
</div>
<div layout:fragment="contenido">
    <div class="box-body">
        Show <span sd:page-size-selector="javascript"></span> entries
        <form action="#" th:action="@{/}" method="post">
            <div class="table-responsive">
            <!-- Opcion 1 : tabla con contenido ( recomandable en caso de listas-->
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>nombreCliente</th>
                        <th>nombreContacto</th>
                        <th>apellidoContacto</th>
                        <th>telefon</th>
                        <th>fax</th>
                        <th>lineaDireccion1</th>
                        <th>lineaDireccion2</th>
                        <th>ciudad</th>
                        <th>region</th>
                        <th>pais</th>
                        <th>codigoPostal</th>
                        <th>codigoEmpleado_rep_ventas</th>
                        <th>limiteCredito</th>
                        <th>limiteCreditoMin</th>
                        <th>limiteCreditoMax</th>
                        <th>limiteCreditoMax1</th>
                        <th>empleadoNombre</th>
                        <th>&nbsp</th>
                        <th>&nbsp</th>
                    </tr>
                    <tr th:each="elemento , posicion : ${lista}">
                        <td th:text="${elemento.nombreCliente}"></td>
                        <td th:text="${elemento.nombreContacto}"></td>
                        <td th:text="${elemento.apellidoContacto}"></td>
                        <td th:text="${elemento.telefono}"></td>
                        <td th:text="${elemento.fax}"></td>
                        <td th:text="${elemento.lineaDireccion1}"></td>
                        <td th:text="${elemento.lineaDireccion2}"></td>
                        <td th:text="${elemento.ciudad}"></td>
                        <td th:text="${elemento.region}"></td>
                        <td th:text="${elemento.pais}"></td>
                        <td th:text="${elemento.codigoPostal}"></td>
                        <td th:text="${elemento.codigoEmpleado_rep_ventas}"></td>
                        <td th:text="${elemento.limiteCredito}"></td>
                        <td th:text="${elemento.limiteCreditoMin}"></td>
                        <td th:text="${elemento.limiteCreditoMax}"></td>
                        <td th:text="${elemento.limiteCreditoMax1}"></td>
                        <td th:text="${elemento.empleadoNombre}"></td>
                        <td>
                            <!-- meter un link para ver  con texto "ver"-->
                            <a th:href="@{'/clientes/'+ ${elemento.id}}">Detalles</a>
                        </td>
                        <td>
                            <!-- meter un boton para borrar  con un boton-->
                            <button type="submit" value="Eliminar" th:formaction="'/clientes/'+ ${elemento.id} +'/delete'">Eliminar</button>
                        </td>
                    </tr>
                    <!--Mostramos una ultima fila con inormación cuando no hay registros -->
                    <tr th:if="${lista ==null or  lista.empty}">
                        <td colspan="13" class="text-center">No hay clientes</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <!-- preparamos el div para poner los numeros de pagina-->
    <div  th:if="${lista!=null and !lista.empty}" >
        <div class="text-center">
            <nav>
                <ul class="pagination" sd:pagination="full">
                    <!--  si hay menos del numero minimo de registos no muestro la barra-->
                    <div  th:if="${lista.totalPages > 0}" class="pagination"
                       th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${pageNumber==lista.number + 1} ? active">
                            <a href="#" th:href="@{/clientes(size=${lista.size}, page=${pageNumber})}"
                               th:text=${pageNumber}></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>

