<!DOCTYPE html>
<html lang="en"  xmlns="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <header th:fragment="cabecerahome">
            <h1>Gestionando en la EOI</h1>
        </header>
        <header th:fragment="cabeceraQuienes">
            <h1>Quienes somos en la EOI</h1>
        </header>
        <header th:fragment="cabeceraPerson">
            <h1>Gestionando personas en la EOI</h1>
        </header>
        <header th:fragment="cabeceraPersonCard">
            <h1>Gestionando tarjetas en la EOI</h1>
        </header>
        <header th:fragment="cabeceraContacto">
            <h1>Contáctanos en la EOI</h1>
        </header>
        <header th:fragment="cabeceraCalendario">
            <h1>Calendarios en la EOI</h1>
        </header>
    </body>
</html>