<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sd="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{/layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>Envío de notificaciones</title>
</head>
<body>
<div layout:fragment="cabecera">
	<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Envio de emails</p>
</div>
<div layout:fragment="contenido">

	<div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-lg-12 col-xl-11">
				<div class="card text-black" style="border-radius: 25px;">
					<div class="card-body p-md-5">
						<div class="row justify-content-center">
							<div th:class="#{estilo.pantalladatosderecha}">
								<form class="mx-1 mx-md-4"  role="form" th:action="@{/email/emailsimple}" th:object="${email} " method="post">
									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
										<div class="form-outline flex-fill mb-0">
											<input type="email" id="from" class="form-control"  maxlength="50" th:field="${email.from}"/>
											<label class="form-label" for="from">From</label>
										</div>
									</div>
									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
										<div class="form-outline flex-fill mb-0">
											<input type="email" id="to" class="form-control"  maxlength="50" th:field="${email.to}"/>
											<label class="form-label" for="to">To</label>
										</div>
									</div>
									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
										<div class="form-outline flex-fill mb-0">
											<input type="text" id="subject" class="form-control"  maxlength="50" th:field="${email.subject}"/>
											<label class="form-label" for="subject">Subject</label>
										</div>
									</div>
									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
										<div class="form-outline flex-fill mb-0">
											<input type="text" id="content" class="form-control"  maxlength="50" th:field="${email.content}"/>
											<label class="form-label" for="content">Contenido</label>
										</div>
									</div>

									<label th:text="${resultado}"></label>

									<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
										<button type="submit"  class="btn btn-primary btn-lg">Enviar email</button>
									</div>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


</body>
</html>