<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sd="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{/layout/layout_cal}">
<head>
	<meta charset="UTF-8">
	<title>Calendario</title>
</head>

<body>
	<div layout:fragment="cabecera">
		<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Calendario modificado</p>
	</div>
	<div layout:fragment="contenido">
		<hr>
			<h1>Calendar Generator</h1>
			<hr>
			<br>
			<form method="post" th:action="@{/calendario/Calendar}">
				<table class="center">
					<tr>
						<td>Enter Year: <input type="text" name="year" id="year"
											   pattern="^\d{4}$" placeholder="yyyy">
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td><input type="submit" name="submit" value="Generate">
						</td>
					</tr>
				</table>
			</form>
			<br>
			<hr>
			<h2>
				Federal Holidays for <span th:text="${year}"></span>
			</h2>
			<hr>
			<table class="center">
				<tr>
					<td>
						<ul>
							<li th:text="${NewYearsDay}"></li>
							<li th:text="${MLKDay}"></li>
							<li th:text="${PresidentsDay}"></li>
							<li th:if="${GoodFriday} != null" th:text="${GoodFriday}"></li>
							<li th:if="${EasterSunday} != null" th:text="${EasterSunday}"></li>
							<li th:text="${MemorialDay}"></li>
							<li th:text="${IndependenceDay}"></li>
							<li th:text="${LaborDay}"></li>
							<li th:text="${ColumbusDay}"></li>
							<li th:text="${VeteransDay}"></li>
							<li th:text="${Thanksgiving}"></li>
							<li th:text="${Christmas}"></li>
						</ul>
					</td>
				</tr>
			</table>
			<hr>
			<h2>
				Calendar for <span th:text="${year}"></span>
			</h2>
			<hr>
			<div class="row">
				<div class="col-md-3">
					<table class="center">
						<caption>January</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${JAN}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>February</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${FEB}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>March</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${MAR}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>April</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${APR}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<table>
						<caption>May</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${MAY}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>June</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${JUN}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>July</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${JUL}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>August</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${AUG}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<table>
						<caption>September</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${SEP}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>October</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${OCT}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>November</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${NOV}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
				<div class="col-md-3">
					<table>
						<caption>December</caption>
						<tr>
							<th class="thstyle">Sun</th>
							<th class="thstyle">Mon</th>
							<th class="thstyle">Tue</th>
							<th class="thstyle">Wed</th>
							<th class="thstyle">Thu</th>
							<th class="thstyle">Fri</th>
							<th class="thstyle">Sat</th>
						</tr>
						<tr th:each="row: ${DEC}">
							<th:block th:each="column: ${row}">
								<th:block th:unless="${column?.isHoliday}">
									<td class="tdstyle" th:text="${column?.day}"></td>
								</th:block>
								<th:block th:if="${column?.isHoliday}">
									<td class="holiday" th:text="${column?.day}"></td>
								</th:block>
							</th:block>
						</tr>
					</table>
				</div>
			</div>
		<hr>
	</div>
</body>
</html>
