<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="contenido">
  <h1>Nueva empresa</h1>
  <form th:action="@{/empresas/registro}" th:object="${datos}" method="POST">
    <div class="row g-3 mb-3">
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{id}" type="text" class="form-control" placeholder="id" required />
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{ciudad}" type="text" class="form-control" placeholder="ciudad" required />
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{pais}" type="text" class="form-control" placeholder="pais" required />
        </div>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{region}" type="text" class="form-control" placeholder="region" required />
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{codigo_postal}" type="text" class="form-control" placeholder="codigo_postal" required />
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{telefono}" type="text" class="form-control" placeholder="telefono" required />
        </div>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{linea_direccion1}" type="text" class="form-control" placeholder="linea_direccion1" required />
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col-sm-4">
          <label class="form-label">Nome</label>
          <input th:field="*{linea_direccion2}" type="text" class="form-control" placeholder="linea_direccion2" required />
        </div>
      </div>
      <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="inputTiposEmpresa">Tipos de empresa:</label>
          <input type="checkbox"  name="roles" id="inputTiposEmpresa"
                 th:align="center"
                 th:each="tipo_item : ${listatipos}"
                 th:text="${tipo_item.descEmpresa}"
                 th:value="${tipo_item.id}"
                 th:field="*{tipoEmpresas}"
          />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-auto">
        <button class="btn btn-primary" type="submit"> Guardar empresa </button>
      </div>
      <div class="col-auto">
        <a class="btn btn-danger" th:href="@{/empresas/listaempresa}">Cancelar</a>
      </div>
    </div>
  </form>
</div>
</body>
</html>