<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Message List</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Book's  Management</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Books</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <a class="box-title btn btn-primary" th:href="@{/mensajes/create}">New message</a>
                    <input type = "text" id ="size">
                    <a class="box-title btn btn-primary" th:href="@{/mensajes}">Change number items</a>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    Show <span sd:page-size-selector="javascript"></span> entries
                    <form action="#" class="form" th:action="@{'/'}" method="post">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Texto</th>
                                    <th>Id usuario</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item,iter : ${mensajes}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.mensaje}"></td>
                                    <td th:text="${item.userId}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(mensajes.content)}">
                                    <td colspan="13" class="text-center">No books</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>


                <div th:if="${not #lists.isEmpty(mensajes.content)}">
                    <div class="text-center">
                        <nav>
                            <ul class="pagination" sd:pagination="full">
                                <div th:if="${mensajes.totalPages > 0}" class="pagination"
                                     th:each="pageNumber : ${pageNumbers}">
                                    <li th:class="${pageNumber==mensajes.number + 1} ? active">
                                        <a href="#" th:href="@{/mensajes(size=${mensajes.size}, page=${pageNumber})}"
                                           th:text=${pageNumber}></a>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>
